form > input:first-of-type{
    display: inline-block;
    width: 90px;
    margin-left: 60px;
    margin-top: 15px;
    padding: 5px;
}
form > input:last-of-type{
    margin-top: 15px;
}
/* label */
strong{
    font-size: 20px;
}
label,label + span{
    position:relative;
    top: 10px;
    left: 50px;
    padding:4px;
    font-size: 18px;
}
label > span{
    color: black;
}
